/* header styling */
body {
  background-color: rgb(242, 242, 242);
  font-family: Montserrat, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
}

header {
  background-color: darkorchid;
  color: whitesmoke;
  font-size: 0.5rem;
}

/* main styling */

h2 {
  font-size: 2rem;
}

img {
  box-shadow: 3px 4px 6px 2px rgb(186, 186, 186);
  width: 100%;
}

input {
  height: 2rem;
}

label {
  display: inline-block;
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

input,
textarea {
  border: none;
  border-radius: 4px;
  width: 100%;
  box-shadow: 3px 4px 6px 2px rgb(186, 186, 186);
}

.utl-container {
  margin-bottom: 2rem;
}

.btn-container {
  text-align: right;
}

.btn-save {
  background-color: darkorchid;
  border: 1px solid grey;
  border-radius: 6px;
  box-shadow: 3px 4px 6px 2px rgb(186, 186, 186);
  color: whitesmoke;
  font-family:
    Montserrat,
    "Trebuchet MS",
    "Lucida Sans Unicode",
    "Lucida Grande",
    "Lucida Sans",
    Arial,
    sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 0.25rem 0;
  width: 6rem;
}

.btn-save:hover {
  cursor: pointer;
}

.btn-save:active {
  font-size: 1.25rem;
  transform: scale(0.9);
}
